<a href="https://colab.research.google.com/github/fr0nde/training-datamining-mds/blob/master/20200415-01-denver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Issue related:  https://github.com/CashStory/training-datamining-mds/issues/11

Step 1 : Find available data 

Evolution : 
https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F02_POPULATION_GROWTH_RATE.xlsx

Evolution V2 : 

On l'a calcul depuis la population total N-1

Densité : 
https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F06_POPULATION_DENSITY.xlsx

Population total : 
https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx

**Step 1 : Import Librairies**

In [0]:
import pandas as pd

**Step 2 : Collect data**

In [72]:
xls = pd.read_excel('https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/1_Population/WPP2019_POP_F01_1_TOTAL_POPULATION_BOTH_SEXES.xlsx',
                    header=16,
                    encoding="utf-8",
                    usecols=["Region, subregion, country or area *", "Country code", "Type", "2019"])

xls['2019'] = pd.to_numeric(xls['2019'], errors='coerce')

xls[xls['Type'] == "Country/Area"]

    Region, subregion, country or area *  ...        2019
26                               Burundi  ...   11530.577
27                               Comoros  ...     850.891
28                              Djibouti  ...     973.557
29                               Eritrea  ...    3497.117
30                              Ethiopia  ...  112078.727
..                                   ...  ...         ...
284                              Bermuda  ...      62.508
285                               Canada  ...   37411.038
286                            Greenland  ...      56.660
287            Saint Pierre and Miquelon  ...       5.821
288             United States of America  ...  329064.917

[235 rows x 4 columns]

**Résultat final des données** : 

Tableau par pays avec son continent, son evolution, sa densité, sa population

API pour associée les pays à leurs continents:

https://restcountries.eu/rest/v2/all?fields=name;numericCode

On part du `Country code` du fichier XLSX et on l'associe au `numericCode`

*!* Supprimer les 0 avant dans l'api restcountries

In [73]:
countries = pd.read_json('https://restcountries.eu/rest/v2/all?fields=region;numericCode')
countries

      region  numericCode
0       Asia          4.0
1     Europe        248.0
2     Europe          8.0
3     Africa         12.0
4    Oceania         16.0
..       ...          ...
245  Oceania        876.0
246   Africa        732.0
247     Asia        887.0
248   Africa        894.0
249   Africa        716.0

[250 rows x 2 columns]